<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-bind-html demo</title>
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <script>
        var app=angular.module("MyApp",['ngSanitize']);

    </script>
</head>
<body ng-app="MyApp">
<fieldset>
    <legend> Registration Form</legend>
    <div>
        <dl>
            <dt>User Name:</dt>
            <dd><input type="text" ng-model="name"></dd>
            <dt>Age :</dt>
            <dd><input type="number" ng-model="age"></dd>
            <dt>Gender :</dt>
            <dd><input type="radio" ng-model="gender" value="Male"> Male
                <input type="radio" ng-model="gender" value="Female"> Female

            </dd>
            <dt>City :</dt>
            <dd><select ng-model="lstCity">
                <option value="Delhi">Delhi</option>
                <option value="Kolkata">Kolkata</option>
                <option value="Varanasi">Varanasi</option>
                <option value="Bhopal">Bhopal</option>
                </select>
            </dd>

        </dl>
    </div>
</fieldset><br><br>
<fieldset>
    <legend>User Details :</legend>
    <div>
        <dl>
            <dd>Name :</dd>
            <dd ng-bind-html="name"></dd>
            <dt>Age</dt>
            <dd ng-bind="age"></dd>
            <dt>Gender:</dt>
            <dd>{{gender}}</dd>
            <dt>City:</dt>
            <dd>{{lstCity}}</dd>
        </dl>
    </div>
</fieldset>
</body>
</html>